<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de la Medicina</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Detalle del Producto</h2>
    <div class="row">
        <div class="col-md-6">
            <img th:src="@{/usuario_foto/{filename}(filename=${producto.urlImagen})}" class="mt-3" style="max-width: 200px;" alt="Imagen del Producto">
        </div>
        <div class="col-md-6">
            <h3 th:text="${producto.nombre}">Nombre de la Medicina</h3>
            <p><strong>Precio:</strong> S/<span th:text="${producto.precio}"></span></p>
            <p><strong>Cantidad en Stock:</strong> <span th:text="${producto.stock}"></span> unidades</p>
            <p><strong>Categoría:</strong> <span th:text="${producto.categoria.nomcate}"></span></p>
            <a href="/menu_producto" class="btn btn-secondary mt-3">Regresar</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>